<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<hr />
		<a href="/new">New message</a>
		<ul>
			<% messages.forEach(message => { %>
			<li>
				<p>user: <%= message.user %></p>
				<p>message: <%= message.text %></p>
				<p>added: <%= message.added %></p>
			</li>
			<% }) %>
		</ul>
	</body>
</html>
